<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.braintreegateway.com/web/dropin/1.36.1/js/dropin.min.js"></script>
  </head>
  <body>
    <form id="payment-form" enctype='application/json' action="dropincardsonlycheckout" method="post">
      <!-- Putting the empty container you plan to pass to
        `braintree.dropin.create` inside a form will make layout and flow
        easier to manage -->
      <div id="dropin-container"></div>
      <input type="submit" />
      <input type="hidden" id="email" name="email" value="crosswen5@gmail.com"/>
      <input type="hidden" id="amount" name="amount" value="10.59"/>
      <input type="hidden" id="nonce" name="payment_method_nonce"/>
    </form>
    <script src="https://localhost/scripts/generic.js"></script>
    <script src="https://localhost/btgqlscripts/dropincardsonly.js"></script>
  </body>
</html>
